.accordion{
  &-title{
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 45px;
    text-align: center;
  }
  &-main{
    background-color: $orange;
    padding: 37px 20px 45px 20px;
    text-align: center;
    color: $white;
    &-title{
      font-size: 18px;
      font-weight: bold;
      padding-bottom: 40px;
    }
    &-subtitle{
      font-size: 14px;
      font-weight: bold;
      padding-bottom: 30px;
    }
    &-text{
      font-size: 12px;
      line-height: 22px;
      padding-bottom: 30px;
    }
    &-button{
      background: none;
      border: none;
      outline: none;
      padding: 0;
      position: relative;
      font-size: 14px;
      background-color: $red-button;
      border: 2px solid $blue;
      border-radius: 5px;
      color: $white;
      padding: 15px 30px;
      &:focus{
        background-color: #ed6639;
      }
    }
  }
  &-places{
    background-color: $white;
    padding: 20px 20px 0 20px;
    &-title{
      font-size: 23px;
      font-weight: bold;
      line-height: 24px;
      padding-bottom: 35px;
      text-align: center;
    }
    &-box{
      position: relative;
    }
    &-image{
      width: 100%;
      position: relative;
      border-radius: 5px;
      >img{
        width: 100%;
      }
    }
    .cta{
      position: absolute;
      bottom: 10px;
      right: 10px;
      padding-right: 8px;
      display: flex;
      align-items: end;
    }
    &-link{
      font-size: 18px;
      font-weight: bold;
      color: $white;
      margin-right: 15px;
    }
  }
  &-description{
    padding-bottom: 30px;
    display: none;
    &-title{
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      padding: 40px 0 27px 0;
      position: relative;
      &:after{
        content: ""; 
        display: block;
        margin: 15px auto 0 auto;
        height: 2px;
        background-color: $blue;
        width: 50px;
      }
    }
    &-text{
      font-size: 12px;
      line-height: 22px;
    }
  }
  .accordion-description-open{
    .accordion-places-country{
      .accordion-places-box{
        .cta{
          .arrow{
            -webkit-transform:rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
          }
        }
      }
      .accordion-description{
        display: block;
      }
    }
  }
}