.hero-bgd{
  background-image: url("../images/Hero.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  z-index: 0;
  .header{
    display: flex;
    justify-content: space-between;
    background-color: $white;
    padding: 5px 20px 5px 20px;
    position: relative;
    height: 70px;
    align-items: center;
    @include desktop{
      max-width: 1180px;
      margin: 0 auto;
    }
    .logo{
      @include desktop{
        display: flex;
        align-items: center;
      }
      .company-logo{
        @include desktop{
          margin-right: 35px;
        }
      }
    }
    .right-wrapper{
      width: 80%;
      width: calc(100% - 35px);
      // position: relative;
      @include tablet{
        width: calc(100% - 70px);
      }
      @include desktop{
        width: unset;
        display: none;
      }
    }
    .right-block {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;
      align-items: center;
      // position: relative;
      @include desktop{
        width: unset;
      }
    }
    
    .search {
      display: none;
    }
    .search {
      width: 100%;
      height: 40px;
      position: relative;
      margin-right: 5px;
      
      .icon {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        font-size: 13px;
      }
    }
    .form-control {
      // width: 100%;
      width: calc(100% - 50px);
      height: 100%;
      padding-left: 25px;
      padding-right: 25px;
      background-color: #f3f5f9;;
      border-radius: 5px;
      border-color: transparent;
    }
    .search-toggler {
      background: none;
      border: none;
      outline: none;
      padding: 0;
      position: relative;
      margin-right: 10px;
      @include tablet{
        margin-right: 35px;
      }
      @include desktop{
        display: none;
      }
      .close {
        opacity: 0;
        position: absolute;
        // top: 70%;
        right: 40px;
        transform: translate(-50%, -50%);
        @include tablet{
          right: 35px;
        }
      }
    }
    &.search-open {
      .search-toggler {
        .open {
          opacity: 0;
        }
  
        .close {
          opacity: 1;
        }
      }
      .search {
        display: block;
        @include tablet{
          margin: 0 35px 0 35px;
        }
      }
      @include mobile {
        .logo {
          display: none;
        }
        
        .search {
          flex-grow: 1;
        }
        .search-toggler{
          position: absolute;
          right: 20px;
          top: 50px;
          transform: translateY(-50%);
        }
      }
      @include tablet{
        .logo{
          display: block;
        }
      }
      @include desktop{
        .nav-menu{
          display: none;
        }
    
      }
    }
    .search.active{
      display: block;
    }
    .menu{
      display: none;
      @include desktop{
        display: flex;
      }
    }
    .nav-menu{
      font-weight: bold;
      display: none;
      font-size: 14px;
      li{
        list-style: none;
        // margin-right: 15px;
        padding: 0 15px;
        min-width: 70px;
        a{
          text-decoration: none;
          color: $black;
          text-align: center;
          // height: 74px;
          display: block;
        }
        a:hover{
          border-bottom: 1px solid $orange;
          background-color: #f3f5f9;;
        }
      }
      @include desktop{
        display: flex;
      }
      >ul{
        @include desktop{
          display: flex;
        }
        li{
          list-style: none;
          margin-left: 27px;
          a{
            text-decoration: none;
            color: $black;
          }
        }
      }
    }
    .nav-menu.active{
      display: block;
      position: absolute;
    }
    @include desktop{
      display: flex;
    }
    .search{
      display: none;
    }
    .header-icon{
      &:active{
        display: none;
      }
      .company-logo{
        // height: 100%;
        align-self: center;
        filter: grayscale(100%);
        @include desktop{
          margin-right: 25px;
          height: 28px;
          width: 112px;

        }
      }
    }
    .burger-button{
      background: none;
      border: none;
      outline: none;
      padding: 0;
      position: relative;
      margin-left: 10px;
      @include tablet{
        margin-left: unset;
      }
      @include desktop{
        display: none;
      }
      .burger-close{
        display: none;
      }
    }
    .burger-button-open{
      .burger-open{
        opacity: 0;
        position: relative;
      }
      .burger-close{
        position: absolute;
        top: 0;
        opacity: 1;
        display: block;
        width: 18px;
        height: 16px;
      }
    }
    .header-action-links-desktop{
      align-items: center;
      display: none;
      ul{
        font-size: 14px;
        font-weight: bold;
        .sign{
          margin-left: 14px;
        }
        li{
          list-style: none;
          margin-left: 28px;
        }
      }
      select{
        margin-left: 28px;
        border: none;
        background:none;
        outline: none;
        font-size: 14px;
        font-weight: bold;
      }
      @include desktop{
        display: flex;
      }
    }
  }
  .hero-content{
    padding: 0 20px;
    @include desktop{
      max-width: 1180px;
      margin: 0 auto;
      padding: 0;
    }
    h1{
      font-weight: bold;
      font-size: 45px;
      margin: 79px 0 44px 0;
      color: $white;

      @include tablet{
        font-size: 55px;
        margin: 105px 0 50px 0;
        max-width: 320px;
      }
      @include desktop{
        font-size: 80px;
        max-width: 470px;
      }
    }

    &-text{
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 50px;
      color: $white;
      @include tablet{
        max-width: 430px;
        font-size: 16px;
        margin-bottom: 76px;
      }
    }
    &-buttons{
      display: flex;
      justify-content: space-between;
      margin-bottom: 118px;
      @include tablet{
        max-width: 335px;
        margin-bottom: 105px;
      }
      @include desktop{
        margin-bottom: 0;
      }
      a{
        font-size: 14px;
        font-weight: 500;
        padding: 17px 30px;
        border-radius: 5px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
        @include tablet{
          width: unset;
          padding: 17px 35px;
        }
      }
      &__white{
        background-color: $white;
        margin-right: 20px;
        text-align: center;
        &:hover{
          background-color: #DCDCDC;
          transition: 0.2s;
        }
      }
      &__transparent {
        background-color: transparent;
        border: 1px solid $white;
        position: relative;
        color: $white;
        text-align: end;
        &:hover{
          background-color: $white;
          color: $black;
          transition: 0.2s;
        }
        &::after{
          content:'';
          position: absolute;
          box-sizing: border-box;
          width: 12px;
          height: 12px;
          border-style: solid;
          border-width: 5px 0 5px 10px;
          border-color: transparent transparent transparent $white;
          left: 18px;
        }
          &:hover::after {
            border-color: transparent transparent transparent $black;
          }
      }
    }
    &-guide{
      text-align: right;
      padding-bottom: 40px;
      position: relative;
      @include tablet{
        display: flex;
        justify-content: flex-end;
        text-align: unset;
        padding-bottom: 70px;
      }
      @include desktop{
        margin-top: -20px;
        padding-bottom: 145px;
      }
      span{
        position: absolute;
        right: 160px;
        top: 9px;
        @include tablet{
          right: 270px;
          top: -25px;
        }
        @include desktop{
          position: absolute;
          right: 275px;
        }
        >img{
          width: 55px;
          height: 55px;
          @include tablet{
            width: 85px;
            height: 75px;
          }
        }
      }
      h4{
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 15px;
        @include tablet{
          margin-bottom: 20px;
        }
      }
      &__quote{
        font-size: 12px;
        margin-bottom: 20px;
      }
      &__person{
        display: flex;
        justify-content: flex-end;
        @include tablet{
          writing-mode: vertical-rl;
          text-orientation: mixed;
          margin-left: 33px;
        }
        @include desktop{
          margin-top: - 45px;
        }
        .author{
          margin-right: 10px;
          @include tablet{
            transform: rotate(-180deg);
            margin: 15px 0 0 0;

          }
          .name{
            font-size: 12px;
            font-weight: bold;
            @include tablet{
              font-size: 14px;
            }
          }
          .country{
            font-size: 12px;
          }
        }
        >img{
          border-radius: 50%;
          @include tablet{
            order: -1;
          }
        }
      }
    }
  }
}
.mobile-menu{
  display: none;
  position: absolute;
}
.mobile-menu-open{
  display: block;
  text-align: center;
  background-color: $white;
  width: 100%;
  z-index: 1;
  padding-bottom: 1154px;
  .mobile-nav-menu{
    li{
      text-decoration: none;
      margin-bottom: 40px;
      a{
        color: $black;
        font-size: 22px;
        font-weight: bold;
        text-decoration: none;
      }
      &:hover{
        color: $orange;
      }
    }
    a:focus{
      color: $orange;
    }
  }
  .header-action-links-mobile{
    font-size: 22px;
    .list{
      li{
        text-decoration: none;
        margin-bottom: 40px;
        a{
          color: $black;
          font-size: 22px;
          font-weight: bold;
          text-decoration: none;
        }
        a:focus{
          color: $orange;
        }
      }
    }
  }
  .language{
    label{
      select{
        padding: 22px 24px;
        border-radius: 5px;
        font-size: 18px;
        font-weight: bold;
        min-width: 160px;
        outline: none;
      }
    }
  }
}



