@import "variables";
@import "hero";
@import "slider";
@import "explore";
@import "accordion";
@import "section";
@import "form";
@import "footer";


/*reset*/
body{
  margin: 0;
  font-family: travelFont, sans-serif;
  box-sizing: border-box;
}
h1, h2, h4, h3, ul{
  margin-block-start: 0;
  margin-block-end: 0;
}
p{
  margin-block-start: 0;
  margin-block-end: 0;
}
ul{
  padding-inline-start: 0;
}
html{
  box-sizing: border-box;
}
*, *:before, *:after{
  box-sizing: inherit;
}